In [1]:
# para gestionar ficheros
import os
import pathlib

# para dataframes
import pandas as pd
import numpy as np

# para pintar
import pylab as plt
import seaborn as sns
## para que salga el grafico
%matplotlib inline

# para la conexión SQL
import mysql.connector as conn
from sqlalchemy import create_engine


# display config
pd.options.display.max_rows = None 
pd.options.display.max_columns = None

In [2]:
# ----------- DOWNCAST ------------- #
def downcast_types(df):
    for columna in df.select_dtypes('object').columns: 
        df[columna]=df[columna].astype('category')
    for columna in df.select_dtypes(np.number).columns: 
        df[columna]=pd.to_numeric(df[columna], downcast='integer')

In [3]:
def eliminar_horas(column):
    column = column.replace(r"\ [0-9]{2}:[0-9]{2}:[0-9]{2}", value = "", regex = True)
    return column

In [4]:
def normalizar_fechas(column):
    column = eliminar_horas(column)
    column = pd.to_datetime(column)
    return column

In [5]:
def eliminar_duplicados(df):
    df = df.drop_duplicates().reset_index(drop = True)

In [6]:
dir_path = pathlib.Path('/Users/carlosbasco/Desktop/Projects/SQL-Database-Project/data')
listaFicheros = os.listdir(dir_path) 
#Obtenemos todos los ficheros a leer

In [7]:
dict_files = {}
for fichero in dir_path.iterdir():
    dict_files[fichero.name] = pd.read_csv(fichero.open(), encoding= "UTF-8")
print(dict_files.keys(), len(dict_files.keys()))

dict_keys(['actor.csv', 'film.csv', 'language.csv', 'old_HDD.csv', 'category.csv', 'rental.csv', 'inventory.csv']) 7

In [8]:
#### LIMPIEZA PRIMER CSV ####
df = dict_files['actor.csv']

In [9]:
df.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [10]:
df.shape

(200, 4)

In [11]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 41.0 KB

In [12]:
df["full_name"] = df.first_name + ' ' + df.last_name

In [13]:
df.full_name.value_counts()

SUSAN DAVIS             2
EWAN GOODING            1
DARYL CRAWFORD          1
GRETA KEITEL            1
JANE JACKMAN            1
ADAM HOPPER             1
RICHARD PENN            1
GENE HOPKINS            1
RITA REYNOLDS           1
ED MANSFIELD            1
MORGAN WILLIAMS         1
LUCILLE DEE             1
WHOOPI HURT             1
GEOFFREY HESTON         1
CATE HARRIS             1
JADA RYDER              1
RIVER DEAN              1
ANGELA WITHERSPOON      1
KIM ALLEN               1
ALBERT JOHANSSON        1
FAY WINSLET             1
EMILY DEE               1
RUSSELL TEMPLE          1
JAYNE NOLTE             1
CATE MCQUEEN            1
PENELOPE GUINESS        1
FRANCES TOMEI           1
ALBERT NOLTE            1
MATTHEW LEIGH           1
PENELOPE CRONYN         1
SIDNEY CROWE            1
GROUCHO DUNST           1
GINA DEGENERES          1
WARREN NOLTE            1
SYLVESTER DERN          1
CAMERON ZELLWEGER       1
RUSSELL BACALL          1
MORGAN HOPKINS          1
MORGAN MCDORMAND        1
HARRISON BALE           1
DAN STREEP              1
RENEE TRACY             1
CUBA ALLEN              1
WARREN JACKMAN          1
PENELOPE MONROE         1
LIZA BERGMAN            1
SALMA NOLTE             1
JULIANNE DENCH          1
SCARLETT BENING         1
KEVIN GARLAND           1
BEN HARRIS              1
MINNIE KILMER           1
MERYL GIBSON            1
ED GUINESS              1
JEFF SILVERSTONE        1
MATTHEW CARREY          1
DEBBIE AKROYD           1
RUSSELL CLOSE           1
HUMPHREY GARLAND        1
MICHAEL BOLGER          1
JULIA ZELLWEGER         1
RENEE BALL              1
ROCK DUKAKIS            1
CUBA BIRCH              1
AUDREY BAILEY           1
GREGORY GOODING         1
JOHN SUVARI             1
BURT TEMPLE             1
MERYL ALLEN             1
JAYNE SILVERSTONE       1
BELA WALKEN             1
REESE WEST              1
MARY KEITEL             1
JULIA FAWCETT           1
LISA MONROE             1
GENE MCKELLEN           1
JON CHASE               1
HUMPHREY WILLIS         1
IAN TANDY               1
FAY WOOD                1
GRETA MALDEN            1
VIVIEN BASINGER         1
LAURA BRODY             1
CHRIS DEPP              1
HARVEY HOPE             1
OPRAH KILMER            1
CHRISTOPHER WEST        1
AL GARLAND              1
WILLIAM HACKMAN         1
NICK DEGENERES          1
LAURENCE BULLOCK        1
WILL WILSON             1
KENNETH HOFFMAN         1
MENA HOPPER             1
OLYMPIA PFEIFFER        1
GROUCHO WILLIAMS        1
ALAN DREYFUSS           1
MICHAEL BENING          1
WALTER TORN             1
SPENCER DEPP            1
NICK WAHLBERG           1
RIP CRAWFORD            1
WOODY HOFFMAN           1
ALEC WAYNE              1
SANDRA PECK             1
SISSY SOBIESKI          1
TIM HACKMAN             1
MILLA PECK              1
AUDREY OLIVIER          1
JUDY DEAN               1
BURT DUKAKIS            1
VAL BOLGER              1
TOM MCKELLEN            1
GOLDIE BRODY            1
JOHNNY CAGE             1
JODIE DEGENERES         1
TOM MIRANDA             1
KIRK JOVOVICH           1
NICK STALLONE           1
REESE KILMER            1
PARKER GOLDBERG         1
JULIA BARRYMORE         1
FRANCES DAY-LEWIS       1
JULIA MCQUEEN           1
KEVIN BLOOM             1
NATALIE HOPKINS         1
CAMERON STREEP          1
ED CHASE                1
JENNIFER DAVIS          1
JOHNNY LOLLOBRIGIDA     1
BETTE NICHOLSON         1
GRACE MOSTEL            1
MATTHEW JOHANSSON       1
JOE SWANK               1
CHRISTIAN GABLE         1
ZERO CAGE               1
KARL BERRY              1
UMA WOOD                1
VIVIEN BERGEN           1
CUBA OLIVIER            1
FRED COSTNER            1
HELEN VOIGHT            1
DAN TORN                1
BOB FAWCETT             1
LUCILLE TRACY           1
KIRSTEN PALTROW         1
ELVIS MARX              1
SANDRA KILMER           1
ANNE CRONYN             1
GARY PHOENIX            1
JIM MOSTEL              1
ANGELINA ASTAIRE        1
GROUCHO SINATRA         1
MAE HOFFMAN             1
RALPH CRUZ              1
SCARLETT DAMON          1
WOODY JOLIE             1
BEN WILLIS              1
JAMES PITT              1
MINNIE ZELLWEGER        1
GREG CHAPLIN            1
SPENCER PECK            1
KENNETH PESCI           1
CHARLIZE DENCH          1
SEAN GUINESS            1
CHRISTOPHER BERRY       1
KIRSTEN AKROYD          1
ELLEN PRESLEY           1
KENNETH TORN            1
DARYL WAHLBERG          1
GENE WILLIS             1
MEG HAWKE               1
CHRIS BRIDGES           1
CARY MCCONAUGHEY        1
BURT POSEY              1
CARMEN HUNT             1
MILLA KEITEL            1
MENA TEMPLE             1
PENELOPE PINKETT        1
FAY KILMER              1
DAN HARRIS              1
JUDE CRUISE             1
CHRISTIAN AKROYD        1
DUSTIN TAUTOU           1
HENRY BERRY             1
CHRISTIAN NEESON        1
JAYNE NEESON            1
CAMERON WRAY            1
RAY JOHANSSON           1
ANGELA HUDSON           1
MARY TANDY              1
JESSICA BAILEY          1
RIP WINSLET             1
KENNETH PALTROW         1
MICHELLE MCCONAUGHEY    1
ADAM GRANT              1
SEAN WILLIAMS           1
GARY PENN               1
THORA TEMPLE            1
Name: full_name, dtype: int64

In [14]:
df[df.full_name == 'SUSAN DAVIS']

     actor_id first_name last_name          last_update    full_name
100       101      SUSAN     DAVIS  2006-02-15 04:34:33  SUSAN DAVIS
109       110      SUSAN     DAVIS  2006-02-15 04:34:33  SUSAN DAVIS

In [15]:
df = df.drop(df.index[109]).reset_index(drop = True)

In [16]:
df[df.full_name == 'SUSAN DAVIS']

     actor_id first_name last_name          last_update    full_name
100       101      SUSAN     DAVIS  2006-02-15 04:34:33  SUSAN DAVIS

In [17]:
eliminar_duplicados(df)

In [18]:
df.last_update = normalizar_fechas(df.last_update)

In [19]:
df.head()

   actor_id first_name     last_name last_update            full_name
0         1   PENELOPE       GUINESS  2006-02-15     PENELOPE GUINESS
1         2       NICK      WAHLBERG  2006-02-15        NICK WAHLBERG
2         3         ED         CHASE  2006-02-15             ED CHASE
3         4   JENNIFER         DAVIS  2006-02-15       JENNIFER DAVIS
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15  JOHNNY LOLLOBRIGIDA

In [20]:
dictio = zip(df.full_name,df.actor_id)
leyenda_actores=dict(dictio) #Esta leyenda la usaremos más adelante

In [21]:
leyenda_actores

{'PENELOPE GUINESS': 1,
 'NICK WAHLBERG': 2,
 'ED CHASE': 3,
 'JENNIFER DAVIS': 4,
 'JOHNNY LOLLOBRIGIDA': 5,
 'BETTE NICHOLSON': 6,
 'GRACE MOSTEL': 7,
 'MATTHEW JOHANSSON': 8,
 'JOE SWANK': 9,
 'CHRISTIAN GABLE': 10,
 'ZERO CAGE': 11,
 'KARL BERRY': 12,
 'UMA WOOD': 13,
 'VIVIEN BERGEN': 14,
 'CUBA OLIVIER': 15,
 'FRED COSTNER': 16,
 'HELEN VOIGHT': 17,
 'DAN TORN': 18,
 'BOB FAWCETT': 19,
 'LUCILLE TRACY': 20,
 'KIRSTEN PALTROW': 21,
 'ELVIS MARX': 22,
 'SANDRA KILMER': 23,
 'CAMERON STREEP': 24,
 'KEVIN BLOOM': 25,
 'RIP CRAWFORD': 26,
 'JULIA MCQUEEN': 27,
 'WOODY HOFFMAN': 28,
 'ALEC WAYNE': 29,
 'SANDRA PECK': 30,
 'SISSY SOBIESKI': 31,
 'TIM HACKMAN': 32,
 'MILLA PECK': 33,
 'AUDREY OLIVIER': 34,
 'JUDY DEAN': 35,
 'BURT DUKAKIS': 36,
 'VAL BOLGER': 37,
 'TOM MCKELLEN': 38,
 'GOLDIE BRODY': 39,
 'JOHNNY CAGE': 40,
 'JODIE DEGENERES': 41,
 'TOM MIRANDA': 42,
 'KIRK JOVOVICH': 43,
 'NICK STALLONE': 44,
 'REESE KILMER': 45,
 'PARKER GOLDBERG': 46,
 'JULIA BARRYMORE': 47,
 'FRANCES DAY-LEWIS': 48,
 'ANNE CRONYN': 49,
 'NATALIE HOPKINS': 50,
 'GARY PHOENIX': 51,
 'CARMEN HUNT': 52,
 'MENA TEMPLE': 53,
 'PENELOPE PINKETT': 54,
 'FAY KILMER': 55,
 'DAN HARRIS': 56,
 'JUDE CRUISE': 57,
 'CHRISTIAN AKROYD': 58,
 'DUSTIN TAUTOU': 59,
 'HENRY BERRY': 60,
 'CHRISTIAN NEESON': 61,
 'JAYNE NEESON': 62,
 'CAMERON WRAY': 63,
 'RAY JOHANSSON': 64,
 'ANGELA HUDSON': 65,
 'MARY TANDY': 66,
 'JESSICA BAILEY': 67,
 'RIP WINSLET': 68,
 'KENNETH PALTROW': 69,
 'MICHELLE MCCONAUGHEY': 70,
 'ADAM GRANT': 71,
 'SEAN WILLIAMS': 72,
 'GARY PENN': 73,
 'MILLA KEITEL': 74,
 'BURT POSEY': 75,
 'ANGELINA ASTAIRE': 76,
 'CARY MCCONAUGHEY': 77,
 'GROUCHO SINATRA': 78,
 'MAE HOFFMAN': 79,
 'RALPH CRUZ': 80,
 'SCARLETT DAMON': 81,
 'WOODY JOLIE': 82,
 'BEN WILLIS': 83,
 'JAMES PITT': 84,
 'MINNIE ZELLWEGER': 85,
 'GREG CHAPLIN': 86,
 'SPENCER PECK': 87,
 'KENNETH PESCI': 88,
 'CHARLIZE DENCH': 89,
 'SEAN GUINESS': 90,
 'CHRISTOPHER BERRY': 91,
 'KIRSTEN AKROYD': 92,
 'ELLEN PRESLEY': 93,
 'KENNETH TORN': 94,
 'DARYL WAHLBERG': 95,
 'GENE WILLIS': 96,
 'MEG HAWKE': 97,
 'CHRIS BRIDGES': 98,
 'JIM MOSTEL': 99,
 'SPENCER DEPP': 100,
 'SUSAN DAVIS': 101,
 'WALTER TORN': 102,
 'MATTHEW LEIGH': 103,
 'PENELOPE CRONYN': 104,
 'SIDNEY CROWE': 105,
 'GROUCHO DUNST': 106,
 'GINA DEGENERES': 107,
 'WARREN NOLTE': 108,
 'SYLVESTER DERN': 109,
 'CAMERON ZELLWEGER': 111,
 'RUSSELL BACALL': 112,
 'MORGAN HOPKINS': 113,
 'MORGAN MCDORMAND': 114,
 'HARRISON BALE': 115,
 'DAN STREEP': 116,
 'RENEE TRACY': 117,
 'CUBA ALLEN': 118,
 'WARREN JACKMAN': 119,
 'PENELOPE MONROE': 120,
 'LIZA BERGMAN': 121,
 'SALMA NOLTE': 122,
 'JULIANNE DENCH': 123,
 'SCARLETT BENING': 124,
 'ALBERT NOLTE': 125,
 'FRANCES TOMEI': 126,
 'KEVIN GARLAND': 127,
 'CATE MCQUEEN': 128,
 'DARYL CRAWFORD': 129,
 'GRETA KEITEL': 130,
 'JANE JACKMAN': 131,
 'ADAM HOPPER': 132,
 'RICHARD PENN': 133,
 'GENE HOPKINS': 134,
 'RITA REYNOLDS': 135,
 'ED MANSFIELD': 136,
 'MORGAN WILLIAMS': 137,
 'LUCILLE DEE': 138,
 'EWAN GOODING': 139,
 'WHOOPI HURT': 140,
 'CATE HARRIS': 141,
 'JADA RYDER': 142,
 'RIVER DEAN': 143,
 'ANGELA WITHERSPOON': 144,
 'KIM ALLEN': 145,
 'ALBERT JOHANSSON': 146,
 'FAY WINSLET': 147,
 'EMILY DEE': 148,
 'RUSSELL TEMPLE': 149,
 'JAYNE NOLTE': 150,
 'GEOFFREY HESTON': 151,
 'BEN HARRIS': 152,
 'MINNIE KILMER': 153,
 'MERYL GIBSON': 154,
 'IAN TANDY': 155,
 'FAY WOOD': 156,
 'GRETA MALDEN': 157,
 'VIVIEN BASINGER': 158,
 'LAURA BRODY': 159,
 'CHRIS DEPP': 160,
 'HARVEY HOPE': 161,
 'OPRAH KILMER': 162,
 'CHRISTOPHER WEST': 163,
 'HUMPHREY WILLIS': 164,
 'AL GARLAND': 165,
 'NICK DEGENERES': 166,
 'LAURENCE BULLOCK': 167,
 'WILL WILSON': 168,
 'KENNETH HOFFMAN': 169,
 'MENA HOPPER': 170,
 'OLYMPIA PFEIFFER': 171,
 'GROUCHO WILLIAMS': 172,
 'ALAN DREYFUSS': 173,
 'MICHAEL BENING': 174,
 'WILLIAM HACKMAN': 175,
 'JON CHASE': 176,
 'GENE MCKELLEN': 177,
 'LISA MONROE': 178,
 'ED GUINESS': 179,
 'JEFF SILVERSTONE': 180,
 'MATTHEW CARREY': 181,
 'DEBBIE AKROYD': 182,
 'RUSSELL CLOSE': 183,
 'HUMPHREY GARLAND': 184,
 'MICHAEL BOLGER': 185,
 'JULIA ZELLWEGER': 186,
 'RENEE BALL': 187,
 'ROCK DUKAKIS': 188,
 'CUBA BIRCH': 189,
 'AUDREY BAILEY': 190,
 'GREGORY GOODING': 191,
 'JOHN SUVARI': 192,
 'BURT TEMPLE': 193,
 'MERYL ALLEN': 194,
 'JAYNE SILVERSTONE': 195,
 'BELA WALKEN': 196,
 'REESE WEST': 197,
 'MARY KEITEL': 198,
 'JULIA FAWCETT': 199,
 'THORA TEMPLE': 200}

In [22]:
downcast_types(df)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     199 non-null    int16
 1   first_name   199 non-null    category
 2   last_name    199 non-null    category
 3   last_update  199 non-null    datetime64[ns]
 4   full_name    199 non-null    category
dtypes: category(3), datetime64[ns](1), int16(1)
memory usage: 22.8 KB

In [24]:
dict_files['actor.csv'] = df

In [25]:
#### LIMPIEZA SEGUNDO CSV ####
df = dict_files['film.csv']

In [26]:
df.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [27]:
eliminar_duplicados(df)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 101.7+ KB

In [29]:
df = df.drop(['original_language_id'], axis=1)
df.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [30]:
df.rating.unique()

array(['PG', 'G', 'NC-17', 'PG-13', 'R'], dtype=object)

In [31]:
dictio = zip(df.title, df.film_id)
leyenda_films=dict(dictio) #Esta leyenda la usaremos más adelante

In [32]:
df.last_update = normalizar_fechas(df.last_update)

In [33]:
downcast_types(df)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int16
 1   title             1000 non-null   category
 2   description       1000 non-null   category
 3   release_year      1000 non-null   int16
 4   language_id       1000 non-null   int8
 5   rental_duration   1000 non-null   int8
 6   rental_rate       1000 non-null   float64
 7   length            1000 non-null   int16
 8   replacement_cost  1000 non-null   float64
 9   rating            1000 non-null   category
 10  special_features  1000 non-null   category
 11  last_update       1000 non-null   datetime64[ns]
dtypes: category(4), datetime64[ns](1), float64(2), int16(3), int8(2)
memory usage: 118.3 KB

In [35]:
dict_files['film.csv'] = df

In [36]:
#### LIMPIEZA TERCER CSV ####
df = dict_files['language.csv']

In [37]:
df

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

In [38]:
df.last_update = normalizar_fechas(df.last_update)

In [39]:
df.head(10)

   language_id      name last_update
0            1   English  2006-02-15
1            2   Italian  2006-02-15
2            3  Japanese  2006-02-15
3            4  Mandarin  2006-02-15
4            5    French  2006-02-15
5            6    German  2006-02-15

In [40]:
downcast_types(df)

In [41]:
dict_files['language.csv'] = df

In [42]:
#### LIMPIEZA CUARTO CSV ####
df = dict_files['old_HDD.csv']

In [43]:
df.head(15) #Vamos a usar el autor_id y el title_id en lugar de tener columnas duplicadas con la informacion

   first_name last_name                  title  release_year  category_id
0    PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1    PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2    PENELOPE   GUINESS            ANGELS LIFE          2006           13
3    PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4    PENELOPE   GUINESS          CHEAPER CLYDE          2006           14
5    PENELOPE   GUINESS     COLOR PHILADELPHIA          2006            4
6    PENELOPE   GUINESS        ELEPHANT TROJAN          2006           11
7    PENELOPE   GUINESS    GLEAMING JAWBREAKER          2006           15
8    PENELOPE   GUINESS         HUMAN GRAFFITI          2006           10
9    PENELOPE   GUINESS         KING EVOLUTION          2006            8
10   PENELOPE   GUINESS             LADY STAGE          2006           11
11   PENELOPE   GUINESS        LANGUAGE COWBOY          2006            3
12   PENELOPE   GUINESS       MULHOLLAND BEAST          2006            9
13   PENELOPE   GUINESS       OKLAHOMA JUMANJI          2006           13
14   PENELOPE   GUINESS            RULES HUMAN          2006           11

In [44]:
df["full_name"]=df.first_name + ' ' + df.last_name

In [45]:
df.replace({"title":leyenda_films}, inplace=True)
df.replace({"full_name":leyenda_actores}, inplace=True)
df.rename(columns = {'title':'film_id', 'full_name':'actor_id'}, inplace = True)

In [46]:
df = df.drop(['first_name','last_name','release_year'], axis=1)

In [47]:
eliminar_duplicados(df)

In [48]:
downcast_types(df)

In [49]:
dict_files['old_HDD.csv'] = df

In [50]:
#### LIMPIEZA QUINTO CSV ####
df = dict_files['category.csv']

In [51]:
df.head(20)

    category_id         name          last_update
0             1       Action  2006-02-15 04:46:27
1             2    Animation  2006-02-15 04:46:27
2             3     Children  2006-02-15 04:46:27
3             4     Classics  2006-02-15 04:46:27
4             5       Comedy  2006-02-15 04:46:27
5             6  Documentary  2006-02-15 04:46:27
6             7        Drama  2006-02-15 04:46:27
7             8       Family  2006-02-15 04:46:27
8             9      Foreign  2006-02-15 04:46:27
9            10        Games  2006-02-15 04:46:27
10           11       Horror  2006-02-15 04:46:27
11           12        Music  2006-02-15 04:46:27
12           13          New  2006-02-15 04:46:27
13           14       Sci-Fi  2006-02-15 04:46:27
14           15       Sports  2006-02-15 04:46:27
15           16       Travel  2006-02-15 04:46:27

In [52]:
df.last_update = eliminar_horas(df.last_update)
df.last_update = pd.to_datetime(df.last_update)

In [53]:
df.head(20)

    category_id         name last_update
0             1       Action  2006-02-15
1             2    Animation  2006-02-15
2             3     Children  2006-02-15
3             4     Classics  2006-02-15
4             5       Comedy  2006-02-15
5             6  Documentary  2006-02-15
6             7        Drama  2006-02-15
7             8       Family  2006-02-15
8             9      Foreign  2006-02-15
9            10        Games  2006-02-15
10           11       Horror  2006-02-15
11           12        Music  2006-02-15
12           13          New  2006-02-15
13           14       Sci-Fi  2006-02-15
14           15       Sports  2006-02-15
15           16       Travel  2006-02-15

In [54]:
dict_files['category.csv'] = df

In [55]:
#### LIMPIEZA SEXTO CSV ####
df = dict_files['rental.csv'] # Sacar cuanto tiempo tardan en devolver las películas y si vuelven o no los customers

In [56]:
df.head(100)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53
5,6,2005-05-24 23:08:07,2792,549,2005-05-27 01:32:07,1,2006-02-15 21:30:53
6,7,2005-05-24 23:11:53,3995,269,2005-05-29 20:34:53,2,2006-02-15 21:30:53
7,8,2005-05-24 23:31:46,2346,239,2005-05-27 23:33:46,2,2006-02-15 21:30:53
8,9,2005-05-25 00:00:40,2580,126,2005-05-28 00:22:40,1,2006-02-15 21:30:53
9,10,2005-05-25 00:02:21,1824,399,2005-05-31 22:44:21,2,2006-02-15 21:30:53
10,11,2005-05-25 00:09:02,4443,142,2005-06-02 20:56:02,2,2006-02-15 21:30:53
11,12,2005-05-25 00:19:27,1584,261,2005-05-30 05:44:27,2,2006-02-15 21:30:53
12,13,2005-05-25 00:22:55,2294,334,2005-05-30 04:28:55,1,2006-02-15 21:30:53
13,14,2005-05-25 00:31:15,2701,446,2005-05-26 02:56:15,1,2006-02-15 21:30:53
14,15,2005-05-25 00:39:22,3049,319,2005-06-03 03:30:22,1,2006-02-15 21:30:53
15,16,2005-05-25 00:43:11,389,316,2005-05-26 04:42:11,2,2006-02-15 21:30:53
16,17,2005-05-25 01:06:36,830,575,2005-05-27 00:43:36,1,2006-02-15 21:30:53
17,18,2005-05-25 01:10:47,3376,19,2005-05-31 06:35:47,2,2006-02-15 21:30:53
18,19,2005-05-25 01:17:24,1941,456,2005-05-31 06:00:24,1,2006-02-15 21:30:53
19,20,2005-05-25 01:48:41,3517,185,2005-05-27 02:20:41,2,2006-02-15 21:30:53
20,21,2005-05-25 01:59:46,146,388,2005-05-26 01:01:46,2,2006-02-15 21:30:53
21,22,2005-05-25 02:19:23,727,509,2005-05-26 04:52:23,2,2006-02-15 21:30:53
22,23,2005-05-25 02:40:21,4441,438,2005-05-29 06:34:21,1,2006-02-15 21:30:53
23,24,2005-05-25 02:53:02,3273,350,2005-05-27 01:15:02,1,2006-02-15 21:30:53
24,25,2005-05-25 03:21:20,3961,37,2005-05-27 21:25:20,2,2006-02-15 21:30:53
25,26,2005-05-25 03:36:50,4371,371,2005-05-31 00:34:50,1,2006-02-15 21:30:53
26,27,2005-05-25 03:41:50,1225,301,2005-05-30 01:13:50,2,2006-02-15 21:30:53
27,28,2005-05-25 03:42:37,4068,232,2005-05-26 09:26:37,2,2006-02-15 21:30:53
28,29,2005-05-25 03:47:12,611,44,2005-05-30 00:31:12,2,2006-02-15 21:30:53
29,30,2005-05-25 04:01:32,3744,430,2005-05-30 03:12:32,1,2006-02-15 21:30:53
30,31,2005-05-25 04:05:17,4482,369,2005-05-30 07:15:17,1,2006-02-15 21:30:53
31,32,2005-05-25 04:06:21,3832,230,2005-05-25 23:55:21,1,2006-02-15 21:30:53
32,33,2005-05-25 04:18:51,1681,272,2005-05-27 03:58:51,1,2006-02-15 21:30:53
33,34,2005-05-25 04:19:28,2613,597,2005-05-29 00:10:28,2,2006-02-15 21:30:53
34,35,2005-05-25 04:24:36,1286,484,2005-05-27 07:02:36,2,2006-02-15 21:30:53
35,36,2005-05-25 04:36:26,1308,88,2005-05-29 00:31:26,1,2006-02-15 21:30:53
36,37,2005-05-25 04:44:31,403,535,2005-05-29 01:03:31,1,2006-02-15 21:30:53
37,38,2005-05-25 04:47:44,2540,302,2005-06-01 00:58:44,1,2006-02-15 21:30:53
38,39,2005-05-25 04:51:46,4466,207,2005-05-31 03:14:46,2,2006-02-15 21:30:53
39,40,2005-05-25 05:09:04,2638,413,2005-05-27 23:12:04,1,2006-02-15 21:30:53
40,41,2005-05-25 05:12:29,1761,174,2005-06-02 00:28:29,1,2006-02-15 21:30:53
41,42,2005-05-25 05:24:58,380,523,2005-05-31 02:47:58,2,2006-02-15 21:30:53
42,43,2005-05-25 05:39:25,2578,532,2005-05-26 06:54:25,2,2006-02-15 21:30:53
43,44,2005-05-25 05:53:23,3098,207,2005-05-29 10:56:23,2,2006-02-15 21:30:53
44,45,2005-05-25 05:59:39,1853,436,2005-06-02 09:56:39,2,2006-02-15 21:30:53
45,46,2005-05-25 06:04:08,3318,7,2005-06-02 08:18:08,2,2006-02-15 21:30:53
46,47,2005-05-25 06:05:20,2211,35,2005-05-30 03:04:20,1,2006-02-15 21:30:53
47,48,2005-05-25 06:20:46,1780,282,2005-06-02 05:42:46,1,2006-02-15 21:30:53
48,49,2005-05-25 06:39:35,2965,498,2005-05-30 10:12:35,2,2006-02-15 21:30:53
49,50,2005-05-25 06:44:53,1983,18,2005-05-28 11:28:53,2,2006-02-15 21:30:53
50,51,2005-05-25 06:49:10,1257,256,2005-05-26 06:42:10,1,2006-02-15 21:30:53
51,52,2005-05-25 06:51:29,4017,507,2005-05-31 01:27:29,2,2006-02-15 21:30:53
52,53,2005-05-25 07:19:16,1255,569,2005-05-27 05:19:16,2,2006-02-15 21:30:53
53,54,2005-05-25 07:23:25,2787,291,2005-06-01 05:05:25,2,2006-02-15 21:30:53
54,55,2005-05-25 08:26:13,1139,131,2005-05-30 10:57:13,1,2006-02-15 21:30:53
55,56,2005-05-25 08:28:11,1352,511,2005-05-26 14:21:11,1,2006-02-15 21:30:53
56,57,2005-05-25 08:43:32,3938,6,2005-05-29 06:42:32,2,2006-02-15 21:30:53
57,58,2005-05-25 08:53:14,3050,323,2005-05-28 14:40:14,1,2006-02-15 21:30:53
58,59,2005-05-25 08:56:42,2884,408,2005-06-01 09:52:42,1,2006-02-15 21:30:53
59,60,2005-05-25 08:58:25,330,470,2005-05-30 14:14:25,1,2006-02-15 21:30:53
60,61,2005-05-25 09:01:57,4210,250,2005-06-02 07:22:57,2,2006-02-15 21:30:53
61,62,2005-05-25 09:18:52,261,419,2005-05-30 10:55:52,1,2006-02-15 21:30:53
62,63,2005-05-25 09:19:16,4008,383,2005-05-27 04:24:16,1,2006-02-15 21:30:53
63,64,2005-05-25 09:21:29,79,368,2005-06-03 11:31:29,1,2006-02-15 21:30:53
64,65,2005-05-25 09:32:03,3552,346,2005-05-29 14:21:03,1,2006-02-15 21:30:53
65,66,2005-05-25 09:35:12,1162,86,2005-05-29 04:16:12,2,2006-02-15 21:30:53
66,67,2005-05-25 09:41:01,239,119,2005-05-27 13:46:01,2,2006-02-15 21:30:53
67,68,2005-05-25 09:47:31,4029,120,2005-05-31 10:20:31,2,2006-02-15 21:30:53
68,69,2005-05-25 10:10:14,3207,305,2005-05-27 14:02:14,2,2006-02-15 21:30:53
69,70,2005-05-25 10:15:23,2168,73,2005-05-27 05:56:23,2,2006-02-15 21:30:53
70,71,2005-05-25 10:26:39,2408,100,2005-05-28 04:59:39,1,2006-02-15 21:30:53
71,72,2005-05-25 10:52:13,2260,48,2005-05-28 05:52:13,2,2006-02-15 21:30:53
72,73,2005-05-25 11:00:07,517,391,2005-06-01 13:56:07,2,2006-02-15 21:30:53
73,74,2005-05-25 11:09:48,1744,265,2005-05-26 12:23:48,2,2006-02-15 21:30:53
74,75,2005-05-25 11:13:34,3393,510,2005-06-03 12:58:34,1,2006-02-15 21:30:53
75,76,2005-05-25 11:30:37,3021,1,2005-06-03 12:00:37,2,2006-02-15 21:30:53
76,77,2005-05-25 11:31:59,1303,451,2005-05-26 16:53:59,2,2006-02-15 21:30:53
77,78,2005-05-25 11:35:18,4067,135,2005-05-31 12:48:18,2,2006-02-15 21:30:53
78,79,2005-05-25 12:11:07,3299,245,2005-06-03 10:54:07,2,2006-02-15 21:30:53
79,80,2005-05-25 12:12:07,2478,314,2005-05-31 17:46:07,2,2006-02-15 21:30:53
80,81,2005-05-25 12:15:19,2610,286,2005-06-02 14:08:19,2,2006-02-15 21:30:53
81,82,2005-05-25 12:17:46,1388,427,2005-06-01 10:48:46,1,2006-02-15 21:30:53
82,83,2005-05-25 12:30:15,466,131,2005-05-27 15:40:15,1,2006-02-15 21:30:53
83,84,2005-05-25 12:36:30,1829,492,2005-05-29 18:33:30,1,2006-02-15 21:30:53
84,85,2005-05-25 13:05:34,470,414,2005-05-29 16:53:34,1,2006-02-15 21:30:53
85,86,2005-05-25 13:36:12,2275,266,2005-05-30 14:53:12,1,2006-02-15 21:30:53
86,87,2005-05-25 13:52:43,1586,331,2005-05-29 11:12:43,2,2006-02-15 21:30:53
87,88,2005-05-25 14:13:54,2221,53,2005-05-29 09:32:54,2,2006-02-15 21:30:53
88,89,2005-05-25 14:28:29,2181,499,2005-05-29 14:33:29,1,2006-02-15 21:30:53
89,90,2005-05-25 14:31:25,2984,25,2005-06-01 10:07:25,1,2006-02-15 21:30:53
90,91,2005-05-25 14:57:22,139,267,2005-06-01 18:32:22,1,2006-02-15 21:30:53
91,92,2005-05-25 15:38:46,775,302,2005-05-31 13:40:46,2,2006-02-15 21:30:53
92,93,2005-05-25 15:54:16,4360,288,2005-06-03 20:18:16,1,2006-02-15 21:30:53
93,94,2005-05-25 16:03:42,1675,197,2005-05-30 14:23:42,1,2006-02-15 21:30:53
94,95,2005-05-25 16:12:52,178,400,2005-06-02 18:55:52,2,2006-02-15 21:30:53
95,96,2005-05-25 16:32:19,3418,49,2005-05-30 10:47:19,2,2006-02-15 21:30:53
96,97,2005-05-25 16:34:24,1283,263,2005-05-28 12:13:24,2,2006-02-15 21:30:53
97,98,2005-05-25 16:48:24,2970,269,2005-05-27 11:29:24,2,2006-02-15 21:30:53
98,99,2005-05-25 16:50:20,535,44,2005-05-28 18:52:20,1,2006-02-15 21:30:53
99,100,2005-05-25 16:50:28,2599,208,2005-06-02 22:11:28,1,2006-02-15 21:30:53

In [57]:
eliminar_duplicados(df)

In [58]:
df = df.drop(['last_update'], axis=1)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB

In [60]:
df.rental_date = normalizar_fechas(df.rental_date)
df.return_date = normalizar_fechas(df.return_date)

In [61]:
downcast_types(df)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int16
 1   rental_date   1000 non-null   datetime64[ns]
 2   inventory_id  1000 non-null   int16
 3   customer_id   1000 non-null   int16
 4   return_date   1000 non-null   datetime64[ns]
 5   staff_id      1000 non-null   int8
dtypes: datetime64[ns](2), int16(3), int8(1)
memory usage: 22.6 KB

In [63]:
dict_files['rental.csv'] = df

In [64]:
#### LIMPIEZA SEPTIMO CSV ####
df = dict_files['inventory.csv']

In [65]:
df.head(100)

    inventory_id  film_id  store_id          last_update
0              1        1         1  2006-02-15 05:09:17
1              2        1         1  2006-02-15 05:09:17
2              3        1         1  2006-02-15 05:09:17
3              4        1         1  2006-02-15 05:09:17
4              5        1         2  2006-02-15 05:09:17
5              6        1         2  2006-02-15 05:09:17
6              7        1         2  2006-02-15 05:09:17
7              8        1         2  2006-02-15 05:09:17
8              9        2         2  2006-02-15 05:09:17
9             10        2         2  2006-02-15 05:09:17
10            11        2         2  2006-02-15 05:09:17
11            12        3         2  2006-02-15 05:09:17
12            13        3         2  2006-02-15 05:09:17
13            14        3         2  2006-02-15 05:09:17
14            15        3         2  2006-02-15 05:09:17
15            16        4         1  2006-02-15 05:09:17
16            17        4         1  2006-02-15 05:09:17
17            18        4         1  2006-02-15 05:09:17
18            19        4         1  2006-02-15 05:09:17
19            20        4         2  2006-02-15 05:09:17
20            21        4         2  2006-02-15 05:09:17
21            22        4         2  2006-02-15 05:09:17
22            23        5         2  2006-02-15 05:09:17
23            24        5         2  2006-02-15 05:09:17
24            25        5         2  2006-02-15 05:09:17
25            26        6         1  2006-02-15 05:09:17
26            27        6         1  2006-02-15 05:09:17
27            28        6         1  2006-02-15 05:09:17
28            29        6         2  2006-02-15 05:09:17
29            30        6         2  2006-02-15 05:09:17
30            31        6         2  2006-02-15 05:09:17
31            32        7         1  2006-02-15 05:09:17
32            33        7         1  2006-02-15 05:09:17
33            34        7         2  2006-02-15 05:09:17
34            35        7         2  2006-02-15 05:09:17
35            36        7         2  2006-02-15 05:09:17
36            37        8         2  2006-02-15 05:09:17
37            38        8         2  2006-02-15 05:09:17
38            39        8         2  2006-02-15 05:09:17
39            40        8         2  2006-02-15 05:09:17
40            41        9         1  2006-02-15 05:09:17
41            42        9         1  2006-02-15 05:09:17
42            43        9         1  2006-02-15 05:09:17
43            44        9         2  2006-02-15 05:09:17
44            45        9         2  2006-02-15 05:09:17
45            46       10         1  2006-02-15 05:09:17
46            47       10         1  2006-02-15 05:09:17
47            48       10         1  2006-02-15 05:09:17
48            49       10         1  2006-02-15 05:09:17
49            50       10         2  2006-02-15 05:09:17
50            51       10         2  2006-02-15 05:09:17
51            52       10         2  2006-02-15 05:09:17
52            53       11         1  2006-02-15 05:09:17
53            54       11         1  2006-02-15 05:09:17
54            55       11         1  2006-02-15 05:09:17
55            56       11         1  2006-02-15 05:09:17
56            57       11         2  2006-02-15 05:09:17
57            58       11         2  2006-02-15 05:09:17
58            59       11         2  2006-02-15 05:09:17
59            60       12         1  2006-02-15 05:09:17
60            61       12         1  2006-02-15 05:09:17
61            62       12         1  2006-02-15 05:09:17
62            63       12         2  2006-02-15 05:09:17
63            64       12         2  2006-02-15 05:09:17
64            65       12         2  2006-02-15 05:09:17
65            66       12         2  2006-02-15 05:09:17
66            67       13         2  2006-02-15 05:09:17
67            68       13         2  2006-02-15 05:09:17
68            69       13         2  2006-02-15 05:09:17
69            70       13         2  2006-02-15 05:09:17
70            71       15         1  2006-02-15 05:09:17
71            72       15         1  2006-02-15 05:09:17
72            73       15         2  2006-02-15 05:09:17
73            74       15         2  2006-02-15 05:09:17
74            75       15         2  2006-02-15 05:09:17
75            76       15         2  2006-02-15 05:09:17
76            77       16         1  2006-02-15 05:09:17
77            78       16         1  2006-02-15 05:09:17
78            79       16         2  2006-02-15 05:09:17
79            80       16         2  2006-02-15 05:09:17
80            81       17         1  2006-02-15 05:09:17
81            82       17         1  2006-02-15 05:09:17
82            83       17         1  2006-02-15 05:09:17
83            84       17         2  2006-02-15 05:09:17
84            85       17         2  2006-02-15 05:09:17
85            86       17         2  2006-02-15 05:09:17
86            87       18         1  2006-02-15 05:09:17
87            88       18         1  2006-02-15 05:09:17
88            89       18         1  2006-02-15 05:09:17
89            90       18         2  2006-02-15 05:09:17
90            91       18         2  2006-02-15 05:09:17
91            92       18         2  2006-02-15 05:09:17
92            93       19         1  2006-02-15 05:09:17
93            94       19         1  2006-02-15 05:09:17
94            95       19         1  2006-02-15 05:09:17
95            96       19         1  2006-02-15 05:09:17
96            97       19         2  2006-02-15 05:09:17
97            98       19         2  2006-02-15 05:09:17
98            99       20         1  2006-02-15 05:09:17
99           100       20         1  2006-02-15 05:09:17

In [66]:
df.shape

(1000, 4)

In [67]:
eliminar_duplicados(df)

In [68]:
df.last_update = normalizar_fechas(df.last_update)

In [69]:
downcast_types(df)

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int16
 1   film_id       1000 non-null   int16
 2   store_id      1000 non-null   int8
 3   last_update   1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int16(2), int8(1)
memory usage: 12.8 KB

In [71]:
df = df.drop(['inventory_id',], axis=1)

In [72]:
df

     film_id  store_id last_update
0          1         1  2006-02-15
1          1         1  2006-02-15
2          1         1  2006-02-15
3          1         1  2006-02-15
4          1         2  2006-02-15
5          1         2  2006-02-15
6          1         2  2006-02-15
7          1         2  2006-02-15
8          2         2  2006-02-15
9          2         2  2006-02-15
10         2         2  2006-02-15
11         3         2  2006-02-15
12         3         2  2006-02-15
13         3         2  2006-02-15
14         3         2  2006-02-15
15         4         1  2006-02-15
16         4         1  2006-02-15
17         4         1  2006-02-15
18         4         1  2006-02-15
19         4         2  2006-02-15
20         4         2  2006-02-15
21         4         2  2006-02-15
22         5         2  2006-02-15
23         5         2  2006-02-15
24         5         2  2006-02-15
25         6         1  2006-02-15
26         6         1  2006-02-15
27         6         1  2006-02-15
28         6         2  2006-02-15
29         6         2  2006-02-15
30         6         2  2006-02-15
31         7         1  2006-02-15
32         7         1  2006-02-15
33         7         2  2006-02-15
34         7         2  2006-02-15
35         7         2  2006-02-15
36         8         2  2006-02-15
37         8         2  2006-02-15
38         8         2  2006-02-15
39         8         2  2006-02-15
40         9         1  2006-02-15
41         9         1  2006-02-15
42         9         1  2006-02-15
43         9         2  2006-02-15
44         9         2  2006-02-15
45        10         1  2006-02-15
46        10         1  2006-02-15
47        10         1  2006-02-15
48        10         1  2006-02-15
49        10         2  2006-02-15
50        10         2  2006-02-15
51        10         2  2006-02-15
52        11         1  2006-02-15
53        11         1  2006-02-15
54        11         1  2006-02-15
55        11         1  2006-02-15
56        11         2  2006-02-15
57        11         2  2006-02-15
58        11         2  2006-02-15
59        12         1  2006-02-15
60        12         1  2006-02-15
61        12         1  2006-02-15
62        12         2  2006-02-15
63        12         2  2006-02-15
64        12         2  2006-02-15
65        12         2  2006-02-15
66        13         2  2006-02-15
67        13         2  2006-02-15
68        13         2  2006-02-15
69        13         2  2006-02-15
70        15         1  2006-02-15
71        15         1  2006-02-15
72        15         2  2006-02-15
73        15         2  2006-02-15
74        15         2  2006-02-15
75        15         2  2006-02-15
76        16         1  2006-02-15
77        16         1  2006-02-15
78        16         2  2006-02-15
79        16         2  2006-02-15
80        17         1  2006-02-15
81        17         1  2006-02-15
82        17         1  2006-02-15
83        17         2  2006-02-15
84        17         2  2006-02-15
85        17         2  2006-02-15
86        18         1  2006-02-15
87        18         1  2006-02-15
88        18         1  2006-02-15
89        18         2  2006-02-15
90        18         2  2006-02-15
91        18         2  2006-02-15
92        19         1  2006-02-15
93        19         1  2006-02-15
94        19         1  2006-02-15
95        19         1  2006-02-15
96        19         2  2006-02-15
97        19         2  2006-02-15
98        20         1  2006-02-15
99        20         1  2006-02-15
100       20         1  2006-02-15
101       21         1  2006-02-15
102       21         1  2006-02-15
103       21         2  2006-02-15
104       21         2  2006-02-15
105       21         2  2006-02-15
106       21         2  2006-02-15
107       22         1  2006-02-15
108       22         1  2006-02-15
109       22         1  2006-02-15
110       22         1  2006-02-15
111       22         2  2006-02-15
112       22         2  2006-02-15
113       22         2  2006-02-15
114       23         1  2006-02-15
115       23         1  2006-02-15
116       23         1  2006-02-15
117       23         2  2006-02-15
118       23         2  2006-02-15
119       24         1  2006-02-15
120       24         1  2006-02-15
121       24         1  2006-02-15
122       24         1  2006-02-15
123       25         1  2006-02-15
124       25         1  2006-02-15
125       25         1  2006-02-15
126       25         1  2006-02-15
127       25         2  2006-02-15
128       25         2  2006-02-15
129       26         1  2006-02-15
130       26         1  2006-02-15
131       26         2  2006-02-15
132       26         2  2006-02-15
133       26         2  2006-02-15
134       27         1  2006-02-15
135       27         1  2006-02-15
136       27         1  2006-02-15
137       27         1  2006-02-15
138       28         1  2006-02-15
139       28         1  2006-02-15
140       28         1  2006-02-15
141       29         1  2006-02-15
142       29         1  2006-02-15
143       30         1  2006-02-15
144       30         1  2006-02-15
145       31         1  2006-02-15
146       31         1  2006-02-15
147       31         1  2006-02-15
148       31         1  2006-02-15
149       31         2  2006-02-15
150       31         2  2006-02-15
151       31         2  2006-02-15
152       31         2  2006-02-15
153       32         2  2006-02-15
154       32         2  2006-02-15
155       34         2  2006-02-15
156       34         2  2006-02-15
157       34         2  2006-02-15
158       34         2  2006-02-15
159       35         1  2006-02-15
160       35         1  2006-02-15
161       35         1  2006-02-15
162       35         1  2006-02-15
163       35         2  2006-02-15
164       35         2  2006-02-15
165       35         2  2006-02-15
166       37         1  2006-02-15
167       37         1  2006-02-15
168       37         1  2006-02-15
169       37         1  2006-02-15
170       37         2  2006-02-15
171       37         2  2006-02-15
172       37         2  2006-02-15
173       39         1  2006-02-15
174       39         1  2006-02-15
175       39         1  2006-02-15
176       39         2  2006-02-15
177       39         2  2006-02-15
178       39         2  2006-02-15
179       39         2  2006-02-15
180       40         2  2006-02-15
181       40         2  2006-02-15
182       40         2  2006-02-15
183       40         2  2006-02-15
184       42         2  2006-02-15
185       42         2  2006-02-15
186       42         2  2006-02-15
187       42         2  2006-02-15
188       43         1  2006-02-15
189       43         1  2006-02-15
190       43         1  2006-02-15
191       43         2  2006-02-15
192       43         2  2006-02-15
193       43         2  2006-02-15
194       43         2  2006-02-15
195       44         1  2006-02-15
196       44         1  2006-02-15
197       44         2  2006-02-15
198       44         2  2006-02-15
199       44         2  2006-02-15
200       45         1  2006-02-15
201       45         1  2006-02-15
202       45         1  2006-02-15
203       45         1  2006-02-15
204       45         2  2006-02-15
205       45         2  2006-02-15
206       46         2  2006-02-15
207       46         2  2006-02-15
208       46         2  2006-02-15
209       47         2  2006-02-15
210       47         2  2006-02-15
211       48         1  2006-02-15
212       48         1  2006-02-15
213       48         2  2006-02-15
214       48         2  2006-02-15
215       49         1  2006-02-15
216       49         1  2006-02-15
217       49         1  2006-02-15
218       49         2  2006-02-15
219       49         2  2006-02-15
220       49         2  2006-02-15
221       50         1  2006-02-15
222       50         1  2006-02-15
223       50         1  2006-02-15
224       50         2  2006-02-15
225       50         2  2006-02-15
226       51         1  2006-02-15
227       51         1  2006-02-15
228       51         2  2006-02-15
229       51         2  2006-02-15
230       51         2  2006-02-15
231       51         2  2006-02-15
232       52         2  2006-02-15
233       52         2  2006-02-15
234       53         1  2006-02-15
235       53         1  2006-02-15
236       54         1  2006-02-15
237       54         1  2006-02-15
238       54         1  2006-02-15
239       54         2  2006-02-15
240       54         2  2006-02-15
241       55         1  2006-02-15
242       55         1  2006-02-15
243       55         1  2006-02-15
244       55         1  2006-02-15
245       55         2  2006-02-15
246       55         2  2006-02-15
247       56         1  2006-02-15
248       56         1  2006-02-15
249       56         1  2006-02-15
250       56         2  2006-02-15
251       56         2  2006-02-15
252       57         1  2006-02-15
253       57         1  2006-02-15
254       57         1  2006-02-15
255       57         1  2006-02-15
256       57         2  2006-02-15
257       57         2  2006-02-15
258       57         2  2006-02-15
259       58         2  2006-02-15
260       58         2  2006-02-15
261       58         2  2006-02-15
262       58         2  2006-02-15
263       59         1  2006-02-15
264       59         1  2006-02-15
265       59         1  2006-02-15
266       59         2  2006-02-15
267       59         2  2006-02-15
268       60         1  2006-02-15
269       60         1  2006-02-15
270       60         1  2006-02-15
271       61         1  2006-02-15
272       61         1  2006-02-15
273       61         1  2006-02-15
274       61         1  2006-02-15
275       61         2  2006-02-15
276       61         2  2006-02-15
277       62         2  2006-02-15
278       62         2  2006-02-15
279       63         1  2006-02-15
280       63         1  2006-02-15
281       63         2  2006-02-15
282       63         2  2006-02-15
283       64         2  2006-02-15
284       64         2  2006-02-15
285       64         2  2006-02-15
286       65         2  2006-02-15
287       65         2  2006-02-15
288       65         2  2006-02-15
289       65         2  2006-02-15
290       66         1  2006-02-15
291       66         1  2006-02-15
292       66         1  2006-02-15
293       67         1  2006-02-15
294       67         1  2006-02-15
295       67         2  2006-02-15
296       67         2  2006-02-15
297       67         2  2006-02-15
298       67         2  2006-02-15
299       68         1  2006-02-15
300       68         1  2006-02-15
301       68         2  2006-02-15
302       68         2  2006-02-15
303       69         1  2006-02-15
304       69         1  2006-02-15
305       69         1  2006-02-15
306       69         1  2006-02-15
307       69         2  2006-02-15
308       69         2  2006-02-15
309       69         2  2006-02-15
310       69         2  2006-02-15
311       70         1  2006-02-15
312       70         1  2006-02-15
313       70         2  2006-02-15
314       70         2  2006-02-15
315       71         2  2006-02-15
316       71         2  2006-02-15
317       71         2  2006-02-15
318       71         2  2006-02-15
319       72         1  2006-02-15
320       72         1  2006-02-15
321       72         1  2006-02-15
322       72         1  2006-02-15
323       72         2  2006-02-15
324       72         2  2006-02-15
325       73         1  2006-02-15
326       73         1  2006-02-15
327       73         1  2006-02-15
328       73         1  2006-02-15
329       73         2  2006-02-15
330       73         2  2006-02-15
331       73         2  2006-02-15
332       73         2  2006-02-15
333       74         1  2006-02-15
334       74         1  2006-02-15
335       74         1  2006-02-15
336       74         2  2006-02-15
337       74         2  2006-02-15
338       75         2  2006-02-15
339       75         2  2006-02-15
340       75         2  2006-02-15
341       76         1  2006-02-15
342       76         1  2006-02-15
343       76         1  2006-02-15
344       77         1  2006-02-15
345       77         1  2006-02-15
346       77         1  2006-02-15
347       77         1  2006-02-15
348       77         2  2006-02-15
349       77         2  2006-02-15
350       78         1  2006-02-15
351       78         1  2006-02-15
352       78         1  2006-02-15
353       78         2  2006-02-15
354       78         2  2006-02-15
355       78         2  2006-02-15
356       78         2  2006-02-15
357       79         1  2006-02-15
358       79         1  2006-02-15
359       79         1  2006-02-15
360       79         2  2006-02-15
361       79         2  2006-02-15
362       79         2  2006-02-15
363       80         1  2006-02-15
364       80         1  2006-02-15
365       80         1  2006-02-15
366       80         1  2006-02-15
367       81         1  2006-02-15
368       81         1  2006-02-15
369       81         1  2006-02-15
370       81         1  2006-02-15
371       82         1  2006-02-15
372       82         1  2006-02-15
373       83         1  2006-02-15
374       83         1  2006-02-15
375       83         1  2006-02-15
376       83         2  2006-02-15
377       83         2  2006-02-15
378       84         1  2006-02-15
379       84         1  2006-02-15
380       84         1  2006-02-15
381       84         1  2006-02-15
382       85         2  2006-02-15
383       85         2  2006-02-15
384       85         2  2006-02-15
385       85         2  2006-02-15
386       86         1  2006-02-15
387       86         1  2006-02-15
388       86         1  2006-02-15
389       86         1  2006-02-15
390       86         2  2006-02-15
391       86         2  2006-02-15
392       86         2  2006-02-15
393       86         2  2006-02-15
394       88         2  2006-02-15
395       88         2  2006-02-15
396       88         2  2006-02-15
397       88         2  2006-02-15
398       89         1  2006-02-15
399       89         1  2006-02-15
400       89         1  2006-02-15
401       89         2  2006-02-15
402       89         2  2006-02-15
403       89         2  2006-02-15
404       90         1  2006-02-15
405       90         1  2006-02-15
406       90         1  2006-02-15
407       90         2  2006-02-15
408       90         2  2006-02-15
409       90         2  2006-02-15
410       91         1  2006-02-15
411       91         1  2006-02-15
412       91         1  2006-02-15
413       91         1  2006-02-15
414       91         2  2006-02-15
415       91         2  2006-02-15
416       91         2  2006-02-15
417       91         2  2006-02-15
418       92         1  2006-02-15
419       92         1  2006-02-15
420       92         2  2006-02-15
421       92         2  2006-02-15
422       93         2  2006-02-15
423       93         2  2006-02-15
424       93         2  2006-02-15
425       94         1  2006-02-15
426       94         1  2006-02-15
427       95         1  2006-02-15
428       95         1  2006-02-15
429       95         2  2006-02-15
430       95         2  2006-02-15
431       95         2  2006-02-15
432       96         1  2006-02-15
433       96         1  2006-02-15
434       96         1  2006-02-15
435       97         1  2006-02-15
436       97         1  2006-02-15
437       97         1  2006-02-15
438       97         1  2006-02-15
439       97         2  2006-02-15
440       97         2  2006-02-15
441       98         1  2006-02-15
442       98         1  2006-02-15
443       98         1  2006-02-15
444       99         1  2006-02-15
445       99         1  2006-02-15
446       99         1  2006-02-15
447       99         2  2006-02-15
448       99         2  2006-02-15
449       99         2  2006-02-15
450      100         1  2006-02-15
451      100         1  2006-02-15
452      100         1  2006-02-15
453      100         1  2006-02-15
454      100         2  2006-02-15
455      100         2  2006-02-15
456      101         1  2006-02-15
457      101         1  2006-02-15
458      101         1  2006-02-15
459      101         1  2006-02-15
460      101         2  2006-02-15
461      101         2  2006-02-15
462      102         2  2006-02-15
463      102         2  2006-02-15
464      103         1  2006-02-15
465      103         1  2006-02-15
466      103         1  2006-02-15
467      103         1  2006-02-15
468      103         2  2006-02-15
469      103         2  2006-02-15
470      103         2  2006-02-15
471      103         2  2006-02-15
472      104         2  2006-02-15
473      104         2  2006-02-15
474      104         2  2006-02-15
475      105         1  2006-02-15
476      105         1  2006-02-15
477      105         2  2006-02-15
478      105         2  2006-02-15
479      105         2  2006-02-15
480      106         1  2006-02-15
481      106         1  2006-02-15
482      107         2  2006-02-15
483      107         2  2006-02-15
484      109         1  2006-02-15
485      109         1  2006-02-15
486      109         1  2006-02-15
487      109         1  2006-02-15
488      109         2  2006-02-15
489      109         2  2006-02-15
490      109         2  2006-02-15
491      109         2  2006-02-15
492      110         1  2006-02-15
493      110         1  2006-02-15
494      110         1  2006-02-15
495      110         1  2006-02-15
496      111         2  2006-02-15
497      111         2  2006-02-15
498      111         2  2006-02-15
499      111         2  2006-02-15
500      112         1  2006-02-15
501      112         1  2006-02-15
502      112         1  2006-02-15
503      112         1  2006-02-15
504      112         2  2006-02-15
505      112         2  2006-02-15
506      112         2  2006-02-15
507      113         2  2006-02-15
508      113         2  2006-02-15
509      113         2  2006-02-15
510      113         2  2006-02-15
511      114         1  2006-02-15
512      114         1  2006-02-15
513      114         1  2006-02-15
514      114         1  2006-02-15
515      114         2  2006-02-15
516      114         2  2006-02-15
517      114         2  2006-02-15
518      115         1  2006-02-15
519      115         1  2006-02-15
520      115         1  2006-02-15
521      115         2  2006-02-15
522      115         2  2006-02-15
523      115         2  2006-02-15
524      115         2  2006-02-15
525      116         1  2006-02-15
526      116         1  2006-02-15
527      116         2  2006-02-15
528      116         2  2006-02-15
529      116         2  2006-02-15
530      116         2  2006-02-15
531      117         1  2006-02-15
532      117         1  2006-02-15
533      117         1  2006-02-15
534      117         1  2006-02-15
535      117         2  2006-02-15
536      117         2  2006-02-15
537      118         1  2006-02-15
538      118         1  2006-02-15
539      118         1  2006-02-15
540      118         1  2006-02-15
541      118         2  2006-02-15
542      118         2  2006-02-15
543      119         1  2006-02-15
544      119         1  2006-02-15
545      119         1  2006-02-15
546      119         2  2006-02-15
547      119         2  2006-02-15
548      119         2  2006-02-15
549      119         2  2006-02-15
550      120         1  2006-02-15
551      120         1  2006-02-15
552      120         1  2006-02-15
553      121         1  2006-02-15
554      121         1  2006-02-15
555      121         1  2006-02-15
556      121         2  2006-02-15
557      121         2  2006-02-15
558      121         2  2006-02-15
559      122         1  2006-02-15
560      122         1  2006-02-15
561      122         1  2006-02-15
562      122         1  2006-02-15
563      122         2  2006-02-15
564      122         2  2006-02-15
565      122         2  2006-02-15
566      123         1  2006-02-15
567      123         1  2006-02-15
568      123         2  2006-02-15
569      123         2  2006-02-15

In [73]:
#df = df.groupby(df.store_id).value_counts() #RECORDATORIO Agruparemos las películas por almacen
df.reset_index()

     index  film_id  store_id last_update
0        0        1         1  2006-02-15
1        1        1         1  2006-02-15
2        2        1         1  2006-02-15
3        3        1         1  2006-02-15
4        4        1         2  2006-02-15
5        5        1         2  2006-02-15
6        6        1         2  2006-02-15
7        7        1         2  2006-02-15
8        8        2         2  2006-02-15
9        9        2         2  2006-02-15
10      10        2         2  2006-02-15
11      11        3         2  2006-02-15
12      12        3         2  2006-02-15
13      13        3         2  2006-02-15
14      14        3         2  2006-02-15
15      15        4         1  2006-02-15
16      16        4         1  2006-02-15
17      17        4         1  2006-02-15
18      18        4         1  2006-02-15
19      19        4         2  2006-02-15
20      20        4         2  2006-02-15
21      21        4         2  2006-02-15
22      22        5         2  2006-02-15
23      23        5         2  2006-02-15
24      24        5         2  2006-02-15
25      25        6         1  2006-02-15
26      26        6         1  2006-02-15
27      27        6         1  2006-02-15
28      28        6         2  2006-02-15
29      29        6         2  2006-02-15
30      30        6         2  2006-02-15
31      31        7         1  2006-02-15
32      32        7         1  2006-02-15
33      33        7         2  2006-02-15
34      34        7         2  2006-02-15
35      35        7         2  2006-02-15
36      36        8         2  2006-02-15
37      37        8         2  2006-02-15
38      38        8         2  2006-02-15
39      39        8         2  2006-02-15
40      40        9         1  2006-02-15
41      41        9         1  2006-02-15
42      42        9         1  2006-02-15
43      43        9         2  2006-02-15
44      44        9         2  2006-02-15
45      45       10         1  2006-02-15
46      46       10         1  2006-02-15
47      47       10         1  2006-02-15
48      48       10         1  2006-02-15
49      49       10         2  2006-02-15
50      50       10         2  2006-02-15
51      51       10         2  2006-02-15
52      52       11         1  2006-02-15
53      53       11         1  2006-02-15
54      54       11         1  2006-02-15
55      55       11         1  2006-02-15
56      56       11         2  2006-02-15
57      57       11         2  2006-02-15
58      58       11         2  2006-02-15
59      59       12         1  2006-02-15
60      60       12         1  2006-02-15
61      61       12         1  2006-02-15
62      62       12         2  2006-02-15
63      63       12         2  2006-02-15
64      64       12         2  2006-02-15
65      65       12         2  2006-02-15
66      66       13         2  2006-02-15
67      67       13         2  2006-02-15
68      68       13         2  2006-02-15
69      69       13         2  2006-02-15
70      70       15         1  2006-02-15
71      71       15         1  2006-02-15
72      72       15         2  2006-02-15
73      73       15         2  2006-02-15
74      74       15         2  2006-02-15
75      75       15         2  2006-02-15
76      76       16         1  2006-02-15
77      77       16         1  2006-02-15
78      78       16         2  2006-02-15
79      79       16         2  2006-02-15
80      80       17         1  2006-02-15
81      81       17         1  2006-02-15
82      82       17         1  2006-02-15
83      83       17         2  2006-02-15
84      84       17         2  2006-02-15
85      85       17         2  2006-02-15
86      86       18         1  2006-02-15
87      87       18         1  2006-02-15
88      88       18         1  2006-02-15
89      89       18         2  2006-02-15
90      90       18         2  2006-02-15
91      91       18         2  2006-02-15
92      92       19         1  2006-02-15
93      93       19         1  2006-02-15
94      94       19         1  2006-02-15
95      95       19         1  2006-02-15
96      96       19         2  2006-02-15
97      97       19         2  2006-02-15
98      98       20         1  2006-02-15
99      99       20         1  2006-02-15
100    100       20         1  2006-02-15
101    101       21         1  2006-02-15
102    102       21         1  2006-02-15
103    103       21         2  2006-02-15
104    104       21         2  2006-02-15
105    105       21         2  2006-02-15
106    106       21         2  2006-02-15
107    107       22         1  2006-02-15
108    108       22         1  2006-02-15
109    109       22         1  2006-02-15
110    110       22         1  2006-02-15
111    111       22         2  2006-02-15
112    112       22         2  2006-02-15
113    113       22         2  2006-02-15
114    114       23         1  2006-02-15
115    115       23         1  2006-02-15
116    116       23         1  2006-02-15
117    117       23         2  2006-02-15
118    118       23         2  2006-02-15
119    119       24         1  2006-02-15
120    120       24         1  2006-02-15
121    121       24         1  2006-02-15
122    122       24         1  2006-02-15
123    123       25         1  2006-02-15
124    124       25         1  2006-02-15
125    125       25         1  2006-02-15
126    126       25         1  2006-02-15
127    127       25         2  2006-02-15
128    128       25         2  2006-02-15
129    129       26         1  2006-02-15
130    130       26         1  2006-02-15
131    131       26         2  2006-02-15
132    132       26         2  2006-02-15
133    133       26         2  2006-02-15
134    134       27         1  2006-02-15
135    135       27         1  2006-02-15
136    136       27         1  2006-02-15
137    137       27         1  2006-02-15
138    138       28         1  2006-02-15
139    139       28         1  2006-02-15
140    140       28         1  2006-02-15
141    141       29         1  2006-02-15
142    142       29         1  2006-02-15
143    143       30         1  2006-02-15
144    144       30         1  2006-02-15
145    145       31         1  2006-02-15
146    146       31         1  2006-02-15
147    147       31         1  2006-02-15
148    148       31         1  2006-02-15
149    149       31         2  2006-02-15
150    150       31         2  2006-02-15
151    151       31         2  2006-02-15
152    152       31         2  2006-02-15
153    153       32         2  2006-02-15
154    154       32         2  2006-02-15
155    155       34         2  2006-02-15
156    156       34         2  2006-02-15
157    157       34         2  2006-02-15
158    158       34         2  2006-02-15
159    159       35         1  2006-02-15
160    160       35         1  2006-02-15
161    161       35         1  2006-02-15
162    162       35         1  2006-02-15
163    163       35         2  2006-02-15
164    164       35         2  2006-02-15
165    165       35         2  2006-02-15
166    166       37         1  2006-02-15
167    167       37         1  2006-02-15
168    168       37         1  2006-02-15
169    169       37         1  2006-02-15
170    170       37         2  2006-02-15
171    171       37         2  2006-02-15
172    172       37         2  2006-02-15
173    173       39         1  2006-02-15
174    174       39         1  2006-02-15
175    175       39         1  2006-02-15
176    176       39         2  2006-02-15
177    177       39         2  2006-02-15
178    178       39         2  2006-02-15
179    179       39         2  2006-02-15
180    180       40         2  2006-02-15
181    181       40         2  2006-02-15
182    182       40         2  2006-02-15
183    183       40         2  2006-02-15
184    184       42         2  2006-02-15
185    185       42         2  2006-02-15
186    186       42         2  2006-02-15
187    187       42         2  2006-02-15
188    188       43         1  2006-02-15
189    189       43         1  2006-02-15
190    190       43         1  2006-02-15
191    191       43         2  2006-02-15
192    192       43         2  2006-02-15
193    193       43         2  2006-02-15
194    194       43         2  2006-02-15
195    195       44         1  2006-02-15
196    196       44         1  2006-02-15
197    197       44         2  2006-02-15
198    198       44         2  2006-02-15
199    199       44         2  2006-02-15
200    200       45         1  2006-02-15
201    201       45         1  2006-02-15
202    202       45         1  2006-02-15
203    203       45         1  2006-02-15
204    204       45         2  2006-02-15
205    205       45         2  2006-02-15
206    206       46         2  2006-02-15
207    207       46         2  2006-02-15
208    208       46         2  2006-02-15
209    209       47         2  2006-02-15
210    210       47         2  2006-02-15
211    211       48         1  2006-02-15
212    212       48         1  2006-02-15
213    213       48         2  2006-02-15
214    214       48         2  2006-02-15
215    215       49         1  2006-02-15
216    216       49         1  2006-02-15
217    217       49         1  2006-02-15
218    218       49         2  2006-02-15
219    219       49         2  2006-02-15
220    220       49         2  2006-02-15
221    221       50         1  2006-02-15
222    222       50         1  2006-02-15
223    223       50         1  2006-02-15
224    224       50         2  2006-02-15
225    225       50         2  2006-02-15
226    226       51         1  2006-02-15
227    227       51         1  2006-02-15
228    228       51         2  2006-02-15
229    229       51         2  2006-02-15
230    230       51         2  2006-02-15
231    231       51         2  2006-02-15
232    232       52         2  2006-02-15
233    233       52         2  2006-02-15
234    234       53         1  2006-02-15
235    235       53         1  2006-02-15
236    236       54         1  2006-02-15
237    237       54         1  2006-02-15
238    238       54         1  2006-02-15
239    239       54         2  2006-02-15
240    240       54         2  2006-02-15
241    241       55         1  2006-02-15
242    242       55         1  2006-02-15
243    243       55         1  2006-02-15
244    244       55         1  2006-02-15
245    245       55         2  2006-02-15
246    246       55         2  2006-02-15
247    247       56         1  2006-02-15
248    248       56         1  2006-02-15
249    249       56         1  2006-02-15
250    250       56         2  2006-02-15
251    251       56         2  2006-02-15
252    252       57         1  2006-02-15
253    253       57         1  2006-02-15
254    254       57         1  2006-02-15
255    255       57         1  2006-02-15
256    256       57         2  2006-02-15
257    257       57         2  2006-02-15
258    258       57         2  2006-02-15
259    259       58         2  2006-02-15
260    260       58         2  2006-02-15
261    261       58         2  2006-02-15
262    262       58         2  2006-02-15
263    263       59         1  2006-02-15
264    264       59         1  2006-02-15
265    265       59         1  2006-02-15
266    266       59         2  2006-02-15
267    267       59         2  2006-02-15
268    268       60         1  2006-02-15
269    269       60         1  2006-02-15
270    270       60         1  2006-02-15
271    271       61         1  2006-02-15
272    272       61         1  2006-02-15
273    273       61         1  2006-02-15
274    274       61         1  2006-02-15
275    275       61         2  2006-02-15
276    276       61         2  2006-02-15
277    277       62         2  2006-02-15
278    278       62         2  2006-02-15
279    279       63         1  2006-02-15
280    280       63         1  2006-02-15
281    281       63         2  2006-02-15
282    282       63         2  2006-02-15
283    283       64         2  2006-02-15
284    284       64         2  2006-02-15
285    285       64         2  2006-02-15
286    286       65         2  2006-02-15
287    287       65         2  2006-02-15
288    288       65         2  2006-02-15
289    289       65         2  2006-02-15
290    290       66         1  2006-02-15
291    291       66         1  2006-02-15
292    292       66         1  2006-02-15
293    293       67         1  2006-02-15
294    294       67         1  2006-02-15
295    295       67         2  2006-02-15
296    296       67         2  2006-02-15
297    297       67         2  2006-02-15
298    298       67         2  2006-02-15
299    299       68         1  2006-02-15
300    300       68         1  2006-02-15
301    301       68         2  2006-02-15
302    302       68         2  2006-02-15
303    303       69         1  2006-02-15
304    304       69         1  2006-02-15
305    305       69         1  2006-02-15
306    306       69         1  2006-02-15
307    307       69         2  2006-02-15
308    308       69         2  2006-02-15
309    309       69         2  2006-02-15
310    310       69         2  2006-02-15
311    311       70         1  2006-02-15
312    312       70         1  2006-02-15
313    313       70         2  2006-02-15
314    314       70         2  2006-02-15
315    315       71         2  2006-02-15
316    316       71         2  2006-02-15
317    317       71         2  2006-02-15
318    318       71         2  2006-02-15
319    319       72         1  2006-02-15
320    320       72         1  2006-02-15
321    321       72         1  2006-02-15
322    322       72         1  2006-02-15
323    323       72         2  2006-02-15
324    324       72         2  2006-02-15
325    325       73         1  2006-02-15
326    326       73         1  2006-02-15
327    327       73         1  2006-02-15
328    328       73         1  2006-02-15
329    329       73         2  2006-02-15
330    330       73         2  2006-02-15
331    331       73         2  2006-02-15
332    332       73         2  2006-02-15
333    333       74         1  2006-02-15
334    334       74         1  2006-02-15
335    335       74         1  2006-02-15
336    336       74         2  2006-02-15
337    337       74         2  2006-02-15
338    338       75         2  2006-02-15
339    339       75         2  2006-02-15
340    340       75         2  2006-02-15
341    341       76         1  2006-02-15
342    342       76         1  2006-02-15
343    343       76         1  2006-02-15
344    344       77         1  2006-02-15
345    345       77         1  2006-02-15
346    346       77         1  2006-02-15
347    347       77         1  2006-02-15
348    348       77         2  2006-02-15
349    349       77         2  2006-02-15
350    350       78         1  2006-02-15
351    351       78         1  2006-02-15
352    352       78         1  2006-02-15
353    353       78         2  2006-02-15
354    354       78         2  2006-02-15
355    355       78         2  2006-02-15
356    356       78         2  2006-02-15
357    357       79         1  2006-02-15
358    358       79         1  2006-02-15
359    359       79         1  2006-02-15
360    360       79         2  2006-02-15
361    361       79         2  2006-02-15
362    362       79         2  2006-02-15
363    363       80         1  2006-02-15
364    364       80         1  2006-02-15
365    365       80         1  2006-02-15
366    366       80         1  2006-02-15
367    367       81         1  2006-02-15
368    368       81         1  2006-02-15
369    369       81         1  2006-02-15
370    370       81         1  2006-02-15
371    371       82         1  2006-02-15
372    372       82         1  2006-02-15
373    373       83         1  2006-02-15
374    374       83         1  2006-02-15
375    375       83         1  2006-02-15
376    376       83         2  2006-02-15
377    377       83         2  2006-02-15
378    378       84         1  2006-02-15
379    379       84         1  2006-02-15
380    380       84         1  2006-02-15
381    381       84         1  2006-02-15
382    382       85         2  2006-02-15
383    383       85         2  2006-02-15
384    384       85         2  2006-02-15
385    385       85         2  2006-02-15
386    386       86         1  2006-02-15
387    387       86         1  2006-02-15
388    388       86         1  2006-02-15
389    389       86         1  2006-02-15
390    390       86         2  2006-02-15
391    391       86         2  2006-02-15
392    392       86         2  2006-02-15
393    393       86         2  2006-02-15
394    394       88         2  2006-02-15
395    395       88         2  2006-02-15
396    396       88         2  2006-02-15
397    397       88         2  2006-02-15
398    398       89         1  2006-02-15
399    399       89         1  2006-02-15
400    400       89         1  2006-02-15
401    401       89         2  2006-02-15
402    402       89         2  2006-02-15
403    403       89         2  2006-02-15
404    404       90         1  2006-02-15
405    405       90         1  2006-02-15
406    406       90         1  2006-02-15
407    407       90         2  2006-02-15
408    408       90         2  2006-02-15
409    409       90         2  2006-02-15
410    410       91         1  2006-02-15
411    411       91         1  2006-02-15
412    412       91         1  2006-02-15
413    413       91         1  2006-02-15
414    414       91         2  2006-02-15
415    415       91         2  2006-02-15
416    416       91         2  2006-02-15
417    417       91         2  2006-02-15
418    418       92         1  2006-02-15
419    419       92         1  2006-02-15
420    420       92         2  2006-02-15
421    421       92         2  2006-02-15
422    422       93         2  2006-02-15
423    423       93         2  2006-02-15
424    424       93         2  2006-02-15
425    425       94         1  2006-02-15
426    426       94         1  2006-02-15
427    427       95         1  2006-02-15
428    428       95         1  2006-02-15
429    429       95         2  2006-02-15
430    430       95         2  2006-02-15
431    431       95         2  2006-02-15
432    432       96         1  2006-02-15
433    433       96         1  2006-02-15
434    434       96         1  2006-02-15
435    435       97         1  2006-02-15
436    436       97         1  2006-02-15
437    437       97         1  2006-02-15
438    438       97         1  2006-02-15
439    439       97         2  2006-02-15
440    440       97         2  2006-02-15
441    441       98         1  2006-02-15
442    442       98         1  2006-02-15
443    443       98         1  2006-02-15
444    444       99         1  2006-02-15
445    445       99         1  2006-02-15
446    446       99         1  2006-02-15
447    447       99         2  2006-02-15
448    448       99         2  2006-02-15
449    449       99         2  2006-02-15
450    450      100         1  2006-02-15
451    451      100         1  2006-02-15
452    452      100         1  2006-02-15
453    453      100         1  2006-02-15
454    454      100         2  2006-02-15
455    455      100         2  2006-02-15
456    456      101         1  2006-02-15
457    457      101         1  2006-02-15
458    458      101         1  2006-02-15
459    459      101         1  2006-02-15
460    460      101         2  2006-02-15
461    461      101         2  2006-02-15
462    462      102         2  2006-02-15
463    463      102         2  2006-02-15
464    464      103         1  2006-02-15
465    465      103         1  2006-02-15
466    466      103         1  2006-02-15
467    467      103         1  2006-02-15
468    468      103         2  2006-02-15
469    469      103         2  2006-02-15
470    470      103         2  2006-02-15
471    471      103         2  2006-02-15
472    472      104         2  2006-02-15
473    473      104         2  2006-02-15
474    474      104         2  2006-02-15

In [74]:
dict_files['inventory.csv'] = df

In [84]:
#### CONEXION ####

with open("pass/password.txt") as archivo:
    host_line = archivo.readline().rstrip('\n')
    user_line = archivo.readline().rstrip('\n')
    passwd_line = archivo.readline().rstrip('\n')

In [85]:
#### CREAMOS UNA NUEVA BASE DE DATOS ####

str_conn='mysql+pymysql://'+user_line+':'+passwd_line+'@'+host_line+':3306'

cursor=create_engine(str_conn)

cursor.execute('drop database if exists video_store;')
cursor.execute('create database video_store;')

In [95]:
#### GENERAMOS LAS TABLAS DE SQL ####

str_conn='mysql+pymysql://'+user_line+':'+passwd_line+'@'+host_line+':3306'+'/video_store'

cursor=create_engine(str_conn)

for element in dict_files:
    name_aux = (element.split('.'))[0]
    dict_files[element].to_sql(name=name_aux, con=cursor, if_exists='replace', index=False)